* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 100px 50px auto;
  grid-template-areas: "header--container" "slide--left" "main--container";
}
/* maquetacion */

.header--container {
  grid-area: header--container;
}

.slide--left {
  grid-area: slide--left;
}

.main--container {
  grid-area: main--container;
}

/* header */

.header--container {
  display: grid;
  /* background-color: rebeccapurple; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-template: repeat(2, 1fr); */
  /* justify-content: center; */
}

/* para ver el grid */
/* 
.header--container section {
  border: 1px solid black;
}
 */

/* maquetacion del header  */
.container--logo {
  align-self: center;
  justify-self: center;
  display: block;
  /* background-color: red; */
}

.container--logo .logo--container {
  display: block;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-image: url("https://static.thenounproject.com/png/2941332-200.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container--search {
  justify-self: center;
  align-self: center;
  /* maquetacion */
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
.search--label {
  padding: 8px;
  display: flex;
  width: 250px;
  height: 30px;
  /* background-color: brown; */
  border: 1px solid black;
  border-radius: 5px;
}

.search--icon {
  margin-right: 5px;
  /* padding: 5px; */
  justify-self: center;
  align-self: center;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("https://static.thenounproject.com/png/3662624-200.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container--search .none {
  width: 100%;
  border-style: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container--user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.user--name {
  justify-self: flex-end;
  align-self: flex-end;
}
 */
.user--image {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: black;
  align-items: center;
  border: 1px solid black;
  border-radius: 100%;
}

.user--image img {
  margin: 0 auto;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
